---
workaround_ansible_issue_8743: true

config_strategy: COPY_ALWAYS
kolla_base_distro: "{{ openstack_kolla_base_distro }}"
openstack_release: "{{ openstack_release }}"
kolla_container_engine: "{{ openstack_kolla_container_engine }}"
node_custom_config: "{{ openstack_kolla_config_dir }}/config"

# Interface variables are supplied per host in the rendered inventory.
kolla_internal_vip_address: "{{ openstack_kolla_internal_vip_address }}"
keepalived_virtual_router_id: >-
  {{ openstack_kolla_keepalived_virtual_router_id }}
disable_firewall: "yes"

neutron_plugin_agent: ovn
neutron_ovn_distributed_fip: "no"
enable_neutron_provider_networks: "no"

enable_openstack_core: "yes"
enable_heat: "no"
enable_horizon: "yes"
enable_cinder: "yes"
enable_cinder_backup: "no"
enable_cinder_backend_lvm: "yes"
enable_cinder_backend_iscsi: "yes"
cinder_backend_lvm_name: fast
cinder_volume_group: "{{ openstack_fast_vg }}"
cinder_target_helper: lioadm

nova_compute_virt_type: kvm
nova_instance_datadir_volume: "{{ openstack_nova_datadir }}"
glance_file_datadir_volume: "{{ openstack_glance_data_dir }}"

openstack_logging_debug: "False"
enable_central_logging: "no"
enable_fluentd: "no"
enable_grafana: "no"
enable_prometheus: "no"
