- name: Main
  tags:
    - k3s
  block:
    - name: Install curl
      ansible.builtin.package:
        name:
          - curl
    # - name: Install fuse packages
    #   ansible.builtin.package:
    #     name:
    #       - fuse-overlayfs
    #       - fuse2fs
    #

    - name: Check token presense
      when: not k3s_config.token
      ansible.builtin.fail:
        msg: Missing k3s_config.token

    - name: Create the logs dir
      ansible.builtin.file:
        path: "{{ k3s_log_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0700"

    - name: Create the directory for the k3s config
      ansible.builtin.file:
        path: "{{ k3s_config_path | dirname }}"
        state: directory
        owner: root
        group: root
        mode: "0700"
    - name: Write k3s config
      register: k3s_config_info
      ansible.builtin.copy:
        dest: "{{ k3s_config_path }}"
        content: "{{ k3s_config_default | combine(k3s_config) | to_nice_yaml(indent=2) }}"
        owner: root
        group: root
        mode: "0600"

    - name: Create the server directory
      ansible.builtin.file:
        path: "{{ k3s_server_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0700"
    - name: Copy server manifests
      ansible.builtin.copy:
        src: "{{ lookup('ansible.builtin.env', 'PWD', default=undef()) }}/server"
        dest: "{{ k3s_server_dir | dirname }}"
        owner: root
        group: root
        mode: "0700"
    - name: Write templated manifests
      loop: "{{ k3s_manifests | dict2items }}"
      ansible.builtin.copy:
        dest: "{{ k3s_server_dir }}/manifests/{{ item.key }}.yaml"
        content: "{{ item.value | to_nice_yaml(indent=2) }}"
        owner: root
        group: root
        mode: "0600"

    - name: Create the tls dir
      ansible.builtin.file:
        path: "{{ k3s_tls_dir }}"
        state: directory
        owner: root
        group: root
        mode: "0700"

    - name: Copy install script
      ansible.builtin.copy:
        src: install
        dest: "{{ k3s_install_script_path }}"
        owner: root
        group: root
        mode: "0700"
    - name: Run install script
      environment: "{{ k3s_install_environment }}"
      ansible.builtin.command:
        cmd: "{{ k3s_install_script_path }}"
    - name: Ensure k3s service is restarted
      when: k3s_config_info.changed
      ansible.builtin.systemd_service:
        name: "{{ k3s_service_name }}"
        state: restarted
    - name: Ensure k3s service is started and enabled
      ansible.builtin.systemd_service:
        name: "{{ k3s_service_name }}"
        enabled: true
        state: started

    - tags:
        - k3s_kustomize
      block:
        - name: Create the kustomize directory
          ansible.builtin.file:
            path: "{{ k3s_kustomize_dir }}"
            state: directory
            owner: root
            group: root
            mode: "0700"
        - name: Copy kustomize files
          ansible.builtin.copy:
            src: "{{ lookup('ansible.builtin.env', 'PWD', default=undef()) }}/kustomize"
            dest: "{{ k3s_kustomize_dir | dirname }}"
            owner: root
            group: root
            mode: "0700"
        - name: Apply kustomize
          ansible.builtin.command:
            argv:
              - kubectl
              - apply
              - --server-side
              - --force-conflicts
              - -k
              - "{{ k3s_kustomize_dir }}"
    - name: Fetch k8s configs
      ansible.builtin.fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: "~/.kube/{{ inventory_hostname }}/config.yaml"
        flat: true
