{{ $release := partial "alwaldend/get_release" (dict "Page" .Page) -}}
<!-- -->
{{- $page := .Page -}}
<!-- -->
{{ $releasePageRef := .Page.Resources.Get "release_page.json" -}}
<!-- -->
{{ $releasePage := transform.Unmarshal $releasePageRef -}}
<!-- -->
{{- $show := compare.Conditional .standalone "show" "" -}}
<!-- -->
{{ range $releasePage.sections -}}
<!-- -->
{{- $id := strings.ToLower (printf "release_%s_%s" $release.Data.name .title)
-}}
<div class="accordion mt-2" id="{{ $id }}_accordion">
  <div class="accordion-item">
    <h3 class="accordion-header" id="{{ $id }}">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ $id }}_collapse"
        aria-expanded="true"
        aria-controls="{{ $id }}_collapse"
      >
        {{- .title -}}
        <!-- -->
        {{- $count := len (.items | default slice) -}}
        <!-- -->
        {{- partial "alwaldend/badge" (dict "value" $count) -}}
      </button>
    </h3>
    <div
      id="{{ $id }}_collapse"
      class="accordion-collapse collapse {{ $show }}"
      aria-labelledby="{{ $id }}"
      data-bs-parent="#{{ $id }}"
    >
      <div class="accordion-body">
        {{- range .items -}}
        <ul class="list-group">
          <li class="list-group-item my-auto">{{ .content }}</li>
          <li class="list-group-item">
            {{- range .attrs -}}
            <div class="btn-group me-2">
              <button
                class="btn btn-outline-primary btn-sm dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-expanded="false"
              >
                {{ .name }}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <span class="dropdown-item-text">
                    <pre class="my-auto">{{ .content }}</pre>
                  </span>
                </li>
              </ul>
            </div>
            {{- end -}}
          </li>
        </ul>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{- end }}
