{{- $page := .Page -}}
<!-- -->
{{ $releasePageRef := .Page.Resources.Get "release_page.json" -}}
<!-- -->
{{ $releasePage := transform.Unmarshal $releasePageRef -}}
<!-- -->
{{- $expanded := eq (printf "%v" (.standalone | default false)) "true" -}}
<!-- -->
{{- $context := compare.Conditional $expanded "page" "list" -}}
<!-- -->
{{ range $index, $section := $releasePage.sections -}}
<!-- -->
{{- $id := printf "release-%s-%s-%d" (crypto.MD5 $page.Path) $context $index -}}
<div class="accordion mt-2" id="{{ $id }}_accordion">
  <div class="accordion-item">
    <h3 class="accordion-header" id="{{ $id }}">
      <button
        class="accordion-button{{ if not $expanded }} collapsed{{ end }}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ $id }}_collapse"
        aria-expanded="{{ $expanded }}"
        aria-controls="{{ $id }}_collapse"
      >
        {{- .title -}}
        <!-- -->
        {{- $count := len (.items | default slice) -}}
        <!-- -->
        {{- partial "alwaldend/badge" (dict "value" $count) -}}
      </button>
    </h3>
    <div
      id="{{ $id }}_collapse"
      class="accordion-collapse collapse{{ if $expanded }} show{{ end }}"
      aria-labelledby="{{ $id }}"
      data-bs-parent="#{{ $id }}_accordion"
    >
      <div class="accordion-body">
        {{- range .items -}}
        <ul class="list-group">
          <li class="list-group-item my-auto">
            {{ $page.RenderString .content }}
          </li>
          <li class="list-group-item">
            {{- range .attrs -}}
            <div class="btn-group me-2">
              <button
                class="btn btn-outline-primary btn-sm dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                aria-expanded="false"
              >
                {{ .name }}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <span class="dropdown-item-text">
                    <pre class="my-auto">{{ .content }}</pre>
                  </span>
                </li>
              </ul>
            </div>
            {{- end -}}
          </li>
        </ul>
        {{- end -}}
      </div>
    </div>
  </div>
</div>
{{- end }}
