{{ $page := .Page }}
<ul class="list-group">
  <li class="list-group-item">
    {{ partial "alwaldend/release_item_info" (dict "Type" "Manifest") }}
    <a href="{{ .Release.Resource.Permalink }}">release.json</a>
  </li>
  {{ range $index, $item := .Release.Data.items -}}
  <!-- -->
  {{- with $item.file }}
  <li class="list-group-item">
    {{ $ctx := dict "Item" $item "Type" "File" }}
    <!-- -->
    {{ $file := $page.Resources.Get .name -}}
    <!-- -->
    {{ partial "alwaldend/release_item_info" $ctx }}
    <a href="{{ $file.Permalink }}">{{ .name }}</a>
  </li>
  {{ end -}}
  <!-- -->
  {{- end }}
</ul>
