{{ $page := .Page -}}
<!-- -->
{{- $gitInfo := partial "alwaldend/git_info" (dict "Site" .Page.Site) -}}
<ul class="list-group">
  {{- range $index, $commitHash := .Release.Data.git.commits -}}
  <!-- -->
  {{- $commit := index $gitInfo.commits $commitHash -}}
  <!-- -->
  {{- if not $commit -}}
  <!-- -->
  {{- fmt.Errorf "missing commit '%s' in %v" $commitHash $gitInfo -}}
  <!-- -->
  {{- end -}}
  <!-- -->
  {{- with $commit -}}
  <li class="list-group-item">{{ $page.RenderString .message }}</li>
  {{- end -}}
  <!-- -->
  {{- end -}}
</ul>
