<div class="card mx-auto" style="max-width: 40rem;">
  <div class="card-body">
    <nav aria-label="Quick links">
      <ul class="list-group list-group-flush">
        {{ range .Page.Site.Params.alwaldend.links }}
        {{ $label := .url | absURL | strings.TrimPrefix "https://" | strings.TrimPrefix "http://" | strings.TrimSuffix "/" }}
        <li class="list-group-item">
          {{ .name }}: <a class="text-break" href="{{ .url | relURL }}">{{ $label }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>
