<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title h5">Links</h2>
        <ul class="list-group list-group-flush">
          {{ range .Page.Site.Params.alwaldend.links }}
          <li class="list-group-item">
            <a href="{{ .url }}">{{ .name }}</a>
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
  {{ range .Page.Site.Params.alwaldend.panels }}
  {{ $panel := . }}
  {{ with site.GetPage .section }}
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title h5">
          <a href="{{ .RelPermalink }}">{{ $panel.title }}</a>
        </h2>
        <ul class="list-group list-group-flush">
          {{ range .Pages }}
          <li class="list-group-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>
