<div class="vh-100">
  <div class="row justify-content-center">
    <div class="card w-auto">
      <div class="card-body fs-5">
        <ul class="list-group list-group-flush">
          {{ range .Page.Site.Params.alwaldend.links }}
          <li class="list-group-item">
            {{ .name }}:
            <a href="{{ .url }}">
              {{- strings.TrimPrefix "https://" (strings.Trim .url "/") -}}
            </a>
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>
  </div>
</div>
