{{ $release := (.Page.Resources.Get "release.json" | transform.Unmarshal) -}}

<div class="table-responsive">
  <table class="td-initial table table-striped">
    <summary>Release items</summary>
    <thead>
      <tr>
        <th>#</th>
        <th colspan="2">Artifact</th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $item := $release.items -}}
      <!-- -->
      {{- with $item.file }}
      <tr>
        <td rowspan="{{ math.Add 2 (len .hashes) }}">{{ $index }}</td>
        <td>File</td>
        <td>
          {{ $file := $.Page.Resources.Get .name -}}
          <a href="{{ $file.Permalink }}">{{ .name }}</a>
        </td>
      </tr>
      <tr>
        <td>Size</td>
        <td>
          {{ $size := cast.ToFloat .size -}}
          <!-- -->
          {{- $size = math.Div $size 1024 1024 -}}
          <!-- -->
          {{ partial "alwaldend/round_float" (slice $size 2) }} MB
        </td>
      </tr>
      {{ range .hashes -}}
      <!-- -->
      <tr>
        <td>{{ .algo }}</td>
        <td><code>{{ .content }}</code></td>
      </tr>
      {{- end }}
      <!-- -->
      {{ end -}}
      <!-- -->
      {{- end }}
    </tbody>
  </table>
</div>
