{{ define "main" }}
<section>
  <div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <div class="section-index">
      {{ range .Pages.ByTitle }}
      <hr class="panel-line">
      <div class="entry">
        <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
        <p>
          {{ range .GetTerms "statuses" }}
          <a class="badge rounded-pill bg-secondary text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{ end }}
          {{ range .GetTerms "tags" }}
          <a class="badge rounded-pill bg-light text-dark border text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
