[Unit]
Description=Setup a secure tunnel to %I
After=network.target
After=gnome-keyring.service

[Service]
EnvironmentFile=/etc/default/ssh-port-forward-%i
User={{ lookup('ansible.builtin.env', 'USER') }}
Group={{ lookup('ansible.builtin.env', 'USER') }}
Environment=SSH_AUTH_SOCK={{ lookup('ansible.builtin.env', 'SSH_AUTH_SOCK') }} 
WorkingDirectory=/home/{{ lookup('ansible.builtin.env', 'USER') }}
ExecStart={{ ssh_port_forward_script_path }}
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
